h1 {
    text-align: center;
}

#playground{
    background-color:white;
    display: flex;
}

.player{
    background-color:red;
    height:50%;
    width: 50%;
    margin:auto;
    display:block;
    
}

.computer{
    background-color:blue;
    height: 50%;
    width: 50%;    
    margin:auto;
    display:block;
}

img{
    height:100px;
   width:auto; 
   margin:auto;
   display:block;
}